.fade-transition {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-transition.fadingOut {
  opacity: 0;
}

.fade-transition.fadingIn {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
