@use '../../../styles/_layout.scss' as *;

.main-container {
  .onboarding-typed-animation-container {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
  }

  .onboarding-css-animation-container {
    font-family: sans-serif;
  }
}

// mistake angry process
.mistake-text {
  color: #e53935; // a strong red
  display: inline-block;
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px);
  }
  20%,
  80% {
    transform: translateX(4px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-8px);
  }
  40%,
  60% {
    transform: translateX(8px);
  }
}

// success confetti process
.success-text {
  color: #43a047; // nice green
  display: inline-block;
  animation: confetti-pop 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes confetti-pop {
  0% {
    transform: scale(1) rotate(0deg);
  }
  10% {
    transform: scale(1.1) rotate(-2deg);
  }
  20% {
    transform: scale(1.2) rotate(2deg);
  }
  30% {
    transform: scale(1.1) rotate(-2deg);
  }
  40% {
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    transform: scale(1.1) rotate(-2deg);
  }
  60% {
    transform: scale(1.2) rotate(2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.fade-in {
  opacity: 1;
  animation: fadeIn 0.7s forwards;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
