@use '../../../../styles/typography' as *;

// these are used globally within dropdown to override all of their defaults as important along with the JSX
:global {
  .ms-Dropdown {
    font-family: $font-family !important;
    font-size: $font-size-clamp4 !important;
    @include font-variation-settings($font-weight-regular, $font-width-normal);
    background-color: transparent !important;

    &::after {
      border-color: currentColor !important;
    }
  }

  .ms-Dropdown-title {
    font-family: $font-family !important;
    font-size: $font-size-clamp4 !important;
    padding: 0.5rem !important;
    line-height: 20px !important;
    height: 36px !important;
    display: flex !important;
    align-items: center !important;
    @include font-variation-settings($font-weight-regular, $font-width-normal);
  }

  .ms-Dropdown-optionText,
  .dropdownOptionText-136 {
    font-family: $font-family !important;
    font-size: $font-size-clamp4 !important;
    @include font-variation-settings($font-weight-regular, $font-width-normal);
  }

  .ms-Dropdown-items {
    font-family: $font-family !important;
    font-size: $font-size-clamp4 !important;
    @include font-variation-settings($font-weight-regular, $font-width-normal);
    padding: 4px 0 !important;
  }

  .ms-Dropdown-item {
    font-family: $font-family !important;
    font-size: $font-size-clamp4 !important;
    padding: 8px !important;
    @include font-variation-settings($font-weight-regular, $font-width-normal);

    &::after {
      background-color: currentColor !important;
    }
  }

  .ms-Button.ms-Dropdown-item {
    padding: 8px !important;
  }
}
